<div class="article-content-article">
    {% set article = feed['modules']['module_dynamic']['major']['article'] %}
        <h3>📜 <a target="_blank" href="https://www.bilibili.com/read/cv{{ article['id'] }}">
            {{ article['title'] }}</a></h3>
    </div>
</div>