<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <title>BiliBili Reader</title>
    <style>
        {% include 'feed_style.css' %}
    </style>
</head>
<body>
    {% include 'pager.jinja2' %}
    <main>
        <h1>BiliBili Reader</h1>
        <h2>Page {{ page }}/{{ total_pages }}</h2>
        <p>构建于 {{ build_time | datetime_format }} UTC / {{ build_time | datetime_format(offset_hours=8) }} CST<br><br></p>
        {% from 'feed.jinja2' import feed_container %}
        {% for feed in feeds %}
            {{ feed_container(feed) }}
        {% endfor %}
    </main>
</body>
</html>
